.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background: linear-gradient(135deg, #ece9e6, #ffffff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
input {
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 250px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0px 2px 8px rgba(0, 123, 255, 0.2);
}

button {
  padding: 10px 20px;
  margin:5px;
  cursor: pointer;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}


button:hover {
  background-color: #0056b3;
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.4);
}

button:active {
  background-color: #004494;
  box-shadow: 0px 3px 6px rgba(0, 123, 255, 0.4);
}

h1 {
  font-size: 2.5 rem;
  color: #ff6600;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 2px solid #ff6600;
  padding-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}
.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-icon {
  color: #ff6600;
  font-size: 24px;
}

.filter-label {
  font-weight: bold;
  font-size: 18px;
}

.filter-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #ff6600;
  color: white;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #0056b3;
}

.filter-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
.icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.task-container-dark-mode {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #121212;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(211, 196, 196, 0.1);
}

.input-task-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.add-task-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: #0056b3;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.filter-icon {
  color: #ff6600;
  font-size: 24px;
}

.filter-label {
  font-weight: bold;
  font-size: 18px;
}

.filter-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #ff6600;
  color: white;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #0056b3;
}

.dark-mode {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background: linear-gradient(135deg, #121212, #111111);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: black;
}
.index {
  color: black;
}
.index-dark {
  color: white;
}
@media (max-width: 768px) {
  .App {
    padding: 15px;
  }

  
  .task-container {
    padding: 15px;
  }

  .task-input {
    max-width: 700%; /* Full width for smaller screens */
  }

  .add-task-button {
    width: 20%; /* Full width button for smaller screens */
    /* margin-top: 10px; */
  }

  .input-task-container {
    display: flex;
    flex-direction: row; /* Stack input and button on smaller screens */
    /* align-items: stretch; */
  }

  .filter-container {
    justify-content: center; /* Center filters on smaller screens */
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin-bottom: 10px;
  }

  td {
    text-align: center;
    /* padding-left: 10%; */
    position: relative;
  }

  /* td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 12px;
    white-space: nowrap;
    font-weight: bold;
  } */

  td button {
    width: 250px;
    margin-top: 10px;
  }
  header {
    width:60px;
  }
  header button{
    width:60px;
    position: absolute;
  }

  .icon {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header button{
    position: absolute;
  left: 20px;
  top: 10px;
  }

  td {
    border: none;
    font-size: 12px;
    text:center;
  }

}

header {
  position: absolute;
  left: 20px;
  top: 10px;
}

@media (max-width: 480px) {
  .app {
    display: flex;
    align-items: space-between;
    text-align: center;
  }
  button {
    width: 100%; 
    margin-right: 0;
  }

  .task-input {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .filter-container {
    flex-direction: column; 
    align-items: center;
  }

  td {
    border: none;
    font-size: 12px;
  }

  td button {
    padding: 6px;
  }
  header {
    position: absolute;
  left: 0px;
  top: 10px;
  }
  .icon {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 5 rem;
    color: #ff6600;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 2px solid #ff6600;
    padding-bottom: 10px;
  }
  .input-task-container {
    display: flex;
    flex-direction: column; /* Stack input and button on smaller screens */
    /* align-items: stretch; */
    align-items: center;
  }
}
